* {
  margin: 0;
  padding: 0;
}

.color_1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.color_2 {
  width: 1100px;
  height: 700px;
  background-color: rgb(246, 246, 246);

}

.myName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: fantasy;
  font-size: 100px;
}

.download {
  display: flex;

}

.cv {
  font-size: 24px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

button {
  background-color: rgb(251, 232, 232);
  height: 60px;
  border: none;
}

.navBar {
  display: flex;
  flex-direction: row;
}

a {
  font-family: fantasy;
  font-size: 16px;
  margin: 30px;
  /* text-decoration: none; */
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: blue;
}

a:active {
  text-decoration: none;
  color: blue;
}

.navBar_photo {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.photo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.myPhoto {
  width: 600px;
  height: 700px;
}