* {
  margin: 0;
  padding: 0;
}

.color {
  display: flex;
  justify-content: flex-end;
  height: 700px;
  margin: 0px 0px 0px 250px;
  background-color: rgb(246, 246, 246);
  z-index: -1;
}

.navbar {
  margin: 40px 100px 40px 0px;
}

a {
  font-family: fantasy;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: blue;
}

a:active {
  text-decoration: none;
  color: blue;
}